(forward_proxy) {
  uri /api/verify?rd=https://auth.{$DOMAIN}/
  copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
}

auth.{$DOMAIN} {
  reverse_proxy {$AUTHELIA_URL}
}

rss.{$DOMAIN} {
  forward_auth {$AUTHELIA_URL} {
    import forward_proxy
  }
  reverse_proxy miniflux:8080
}

homepage.{$DOMAIN} {
  forward_auth {$AUTHELIA_URL} {
    import forward_proxy
  }
  reverse_proxy homer:8080
}

portainer.{$DOMAIN} {
  forward_auth {$AUTHELIA_URL} {
    import forward_proxy
  }
  reverse_proxy portainer:9000
}

glances.{$DOMAIN} {
  forward_auth {$AUTHELIA_URL} {
    import forward_proxy
  }
  reverse_proxy glances:61208
}

uptime.{$DOMAIN} {
  forward_auth {$AUTHELIA_URL} {
    import forward_proxy
  }
  reverse_proxy uptimekuma:3001
}

disk.{$DOMAIN} {
  forward_auth {$AUTHELIA_URL} {
    import forward_proxy
  }
  reverse_proxy doku:9090
}

changedetection.{$DOMAIN} {
  forward_auth {$AUTHELIA_URL} {
    import forward_proxy
  }
  reverse_proxy changedetection:5000
}
